<!-- Start User reply -->
<li class="max-w-2xl ms-auto flex justify-end gap-x-2 sm:gap-x-4">
    <div class="grow text-end space-y-3">
        <!-- Card -->
        <div class="inline-block bg-blue-600 rounded-lg p-4 shadow-sm">
            <p class="text-sm text-white">
                {{user_message}}
            </p>
        </div>
        <!-- End Card -->
    </div>

    <span class="flex-shrink-0 inline-flex items-center justify-center size-[38px] rounded-full bg-gray-600">
        <span class="text-sm font-medium text-white leading-none">ME</span>
    </span>
</li>
<!-- End User reply -->

<!-- AI reply -->
<li class="flex gap-x-2 sm:gap-x-4">
    <span class="flex-shrink-0 inline-flex items-center justify-center size-[38px] rounded-full bg-blue-600">
        <span class="text-sm font-medium text-white leading-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-bot-message-square">
                <path d="M12 6V2H8" />
                <path d="m8 18-4 4V8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2Z" />
                <path d="M2 12h2" />
                <path d="M9 11v2" />
                <path d="M15 11v2" />
                <path d="M20 12h2" />
            </svg>
        </span>
    </span>

    <!-- Card -->
    <div class="bg-white border border-gray-200 rounded-lg p-4 space-y-3 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="space-y-1.5">
            <p class="mb-3 text-sm text-gray-800 dark:text-white">
                {{ai_message}}
            </p>
        </div>
    </div>
    <!-- End Card -->
</li>
<!-- End AI reply -->