<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Language Learning Assistant</title>


  <script src="https://unpkg.com/htmx.org@1.6.1"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>

  <link href="/assets/css/tailwind.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
</head>

<body class="bg-white dark:bg-neutral-900">

  <!-- ========== TOP ========== -->
  {% include 'partials/top.html' %}
  <!-- ========== END TOP ========== -->


  <!-- ========== CHAT ========== -->
  <div class="w-full pt-10 px-4 sm:px-6 md:px-8 lg:px-48">
    {% include 'partials/chat.html' %}
  </div>
  <!-- ========== END CHAT ========== -->


  <script src="./preline/dist/preline.js"></script>
  <script>
    function queryToLabel() {
      userInput = document.getElementById('user_input');
      if (userInput.value.includes('@query')) {
        document.getElementById('query_label').classList.remove('hidden');
      }
      else
        document.getElementById('query_label').classList.add('hidden');
    }

    function makeQuery() {
      userInput = document.getElementById('user_input');
      userInput.value = '@query ' + userInput.value;
      document.getElementById('query_label').classList.remove('hidden');
      document.getElementById('user_input').focus();
    }

    function userInputReset() {
      userInput = document.getElementById('user_input');
      userInput.value = '';
      userInput.focus();
    }

    document.body.addEventListener('htmx:beforeSwap', function (evt) {
      userInputReset();
      document.getElementById('query_label').classList.add('hidden');
    });
  </script>
</body>

</html>