<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Language Learning Assistant</title>


  <script src="https://unpkg.com/htmx.org@1.6.1"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>

  <link href="/assets/css/tailwind.css" rel="stylesheet">
</head>

<body class="bg-white dark:bg-neutral-900">

  <!-- ========== TOP ========== -->
  {% include 'partials/top.html' %}
  <!-- ========== END TOP ========== -->


  <!-- ========== CHAT ========== -->
  <div class="w-full pt-10 px-4 sm:px-6 md:px-8 lg:px-48">
    {% include 'partials/chat.html' %}
  </div>
  <!-- ========== END CHAT ========== -->


  <script src="./preline/dist/preline.js"></script>
</body>

</html>